<ion-content color="light" padding class="login auth-page">

  <div class="auth-content">

    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="dark">cadastro</ion-text>
        </ion-text>
      </h3>
    </div>

    <form [formGroup]="onRegisterForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" class="placeholder">
          <ion-icon name="mail" item-start></ion-icon>
          nome completo
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="fullName"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">
        <ion-text color="warning">
          esse campo é obrigatório!
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" class="placeholder">
          <ion-icon name="mail" item-start></ion-icon>
          e-mail
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
        <ion-text color="warning">
          esse campo é obrigatório!
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" class="placeholder">
          <ion-icon name="lock" item-start></ion-icon>
          senha
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
        <ion-text color="warning">
          esse campo é obrigatório!
        </ion-text>
      </p>
    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" id="botao-entrar" (click)="signUp()" [disabled]="!onRegisterForm.valid"
        tappable>
        CADASTRAR
      </ion-button>
    </div>

    <div text-center margin-top>
      <span (click)="goToLogin()" tappable>
        <ion-text color="dark">
          <strong>eu já tenho uma conta</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>