:host {
    ion-content {
        --background: white;
    }
}

.paz {
    position: relative;
    z-index: 10;
}

 .formasLogin {
     justify-content: center;
 }

 .placeholder {
     color: black !important;
 }

 .logo {
     width: 60% !important;
 }

 #botao-entrar {
    --background: #fdcb3d;
 }