<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <div padding-horizontal text-center class="logo" class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
      </h4>
    </div>

    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label class="placeholder" position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          e-mail
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="warning">
          campo obrigatório
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label class="placeholder" position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          senha
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          campo obrigatório
        </ion-text>
      </p>
    </form>

    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="dark">
        <strong>esqueceu a senha?</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" id="botao-entrar" (click)="goToHome()"
        [disabled]="!onLoginForm.valid" tappable>
        ENTRAR
      </ion-button>
    </div>

    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="dark">
          cadastre-se
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>