<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Quero Cento</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-searchbar id="barraBusca" placeholder="buscar" [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="light" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="cardGeral">
  <ion-card id="cardHome" class=bg-white>
    <ion-title>
      <ion-text color="dark">
        <ion-text style="font-size: 15px" color="dark" class="fw700">o que você vai querer hoje?</ion-text>
      </ion-text>
    </ion-title>
  </ion-card>

  <ion-card class="bg-white">
    <ion-img [src]="salgados"></ion-img>
    <ion-button expand="full" color="tertiary" (click)="presentImage(salgados)" no-margin>
      Salgados
    </ion-button>
  </ion-card>
  <ion-card class="bg-white">
    <ion-img [src]="doces"></ion-img>
    <ion-button expand="full" color="secondary" (click)="presentImage(doces)" no-margin>
      Doces
    </ion-button>
  </ion-card>

  <popmenu></popmenu>
</ion-content>
  