:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

#cardHome {
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    width: max-content;
}

#barraBusca {
    border-radius: 15px !important;
}

#cardGeral {
    justify-content: center;
}